<div {% if id !=blank %} id="{{ id }}" {% endif %} class="{% if data.gray %} bg-gray-100" {% endif %}">
  <div class="max-w-screen-2xl mx-auto py-12 ">

    {% render "/templates/demo/components/demo-centered-header.liquid", data: data %}

    <div class="reveal fade-bottom flex flex-col md:flex-row px-12 md:px-0 justify-center mt-4">
      <div class="self-center px-6 max-w-full w-60 lg:w-80 text-center {% if data.quote_first %} order-1 {% endif %}">
        <div class="w-full max-w-full aspect-square rounded-full bg-cover shadow-lg"
          style="background-image: url({{ data.image }});">
        </div>

        {% if data.image_text %}
        <p class="pt-6 italic text-black/60">{{ data.image_text }}</p>
        {% endif %}
      </div>

      <div class="self-center pt-8 md:pt-0 md:px-12 w-full">
        <blockquote class="italic text-xl text-black/80">
          <i class="material-symbols-outlined text-black/60" data-icon="format_quote"></i>

          {% if data.quote.first %}
          {% for line in data.quote %}
          <p class="my-3">{{ line }}</p>
          {% endfor %}
          {% else if data.quote != blank %}
          <p>{{ data.quote }}</p>
          {% endif %}
          <div class="text-right mt-4">
            <i class="material-symbols-outlined text-black/60 rotate-180" data-icon="format_quote"></i>
          </div>
        </blockquote>
        {% if data.author %}
        <p class="text-center text-lg md:text-left mt-3">{{ data.author }}</p>
        {% endif %}
      </div>
    </div>

  </div>
</div>