<div {% if id !=blank %} id="{{ id }}" {% endif %} class="{% if data.gray %} bg-gray-100" {% endif %}">
  <div class="w-full max-w-screen-2xl mx-auto flex flex-col items-center text-center py-12">

    {% render "/templates/demo/components/demo-centered-header.liquid", data: data %}

    <div class="reveal fade-bottom px-12 mt-2">

      {% if data.text.first %}

      {% for text in data.text %}

      <p class="my-3">{{ text }}</p>

      {% endfor %}

      {% else if data.text != blank %}

      <p>{{ data.text }}</p>

      {% endif %}

      {% if data.links.first %}

      <div class="flex flex-col md:flex-row pt-6 justify-center">

        {% for link in data.links %}

        <a href="{{ link.href }}"
          class="my-2 end flex flex-row justify-center w-full md:w-auto rounded-full items-center px-9 py-3 md:mx-2 transition-colors border text-black/70 border-black/70 bg-transparent hover:border-black hover:text-black hover:bg-white">
          {{ link.text }}
          {% if link.icon != blank %}
          <i class="material-symbols-outlined pl-3" aria-hidden="true" role="img" data-icon="{{ link.icon }}"></i>
          {% endif %}
        </a>

        {% endfor %}

      </div>

      {% endif %}

    </div>
  </div>
</div>