<div {% if id !=blank %}id="{{ id }}" {% endif %} class="w-full bg-green-dark">
  <div class="reveal fade-bottom max-w-screen-2xl mx-auto flex flex-col md:flex-row ">
    <div class="w-full">
      <div class="flex flex-col p-4 md:p-12">
        <div class="flex flex-col">
          <h2 class="text-3xl md:text-5xl font-extrabold font-serif my-4 text-goldish">{{ data.title }}</h2>
          {% if data.subtitle != blank %}
          <h3 class="text-xl mb-4">{{ data.subtitle }}</h3>
          {% endif %}
          {% if data.text != blank %}
          <p class="mb-4">{{ data.text }}</p>
          {% endif %}
          {% for link in data.links %}
          <a target="_blank"
            class="shadow-md mt-4 group w-full flex flex-row items-center justify-between rounded-2xl bg-zinc-500/5 transition-colors duration-300">
            <div class="flex flex-col p-8 ">

              <div class="flex flex-col md:flex-row items-start md:items-center justify-start">
                <h3 class="text-xl md:text-2xl font-extrabold text-goldish">{{ link.title }}
                </h3>
                {% for chip in link.chips %}
                <div class="rounded border border-1 border-goldish/30 my-1 md:my-0 md:ml-4">
                  <p class="text-goldish/30 px-2 text-sm font-bold uppercase">{{ chip }}
                  </p>
                </div>
                {% endfor %}
              </div>
              <p class="">{{ link.text }}
              </p>
              <br>
              <br>
              <div class="flex flex-col md:flex-row items-start md:items-center justify-start">
                <h3 class="text-xl md:text-2xl font-extrabold text-goldish">{{ link.title_2 }}
                </h3>
                {% for chip in link.chips %}
                <div class="rounded border border-1 border-goldish/30 my-1 md:my-0 md:ml-4">
                  <p class="text-goldish/30 px-2 text-sm font-bold uppercase">{{ chip }}
                  </p>
                </div>
                {% endfor %}
              </div>
              <p class="">{{ link.text_2 }}
              </p>
            </div>

            {% endfor %}
        </div>
        <a href="#oversigt"
          class="my-2 cursor-pointer end flex flex-row justify-center max-w-[220px] text-white rounded-full items-center px-9 py-3 md:mr-4 transition-colors bg-primary-dark hover:bg-primary">Tilbage
          til oversigt</a>
        </a>
      </div>
      {% if data.subtitle != "Rang- og performance-regler" %}
      <hr
        class="block border-1 w-[1200px] h-[3px] max-w-xs my-3 md:my-6 border-transparent bg-red-500 md:border-goldish md:bg-goldish m-auto" />
      {% endif %}
    </div>

  </div>

</div>