{% script "/templates/primer/components/navigation.js", location: "footer", async %}

{% block navigation %}

<div class="mt-[120px] sticky top-0 z-50 w-full ">
  <div class="sm:hidden" data-headlessui-state="">
    <div id="burger-wrapper"
      class="relative flex items-center px-4 py-3 bg-white/95 shadow-sm [@supports(backdrop-filter:blur(0))]:bg-white/80 [@supports(backdrop-filter:blur(0))]:backdrop-blur">

      <span id="burger-menu-selected-ref" aria-hidden="true" class="font-mono text-sm text-rose-700"></span>
      <span id="burger-menu-selected-text" class="ml-4 text-base font-medium text-slate-900"></span>


      <button class="-mr-1 ml-auto flex h-8 w-8 items-center justify-center"
        class="-mr-1 ml-auto flex h-8 w-8 items-center justify-center" type="button" id="burger-button">
        <span class="absolute inset-0"></span>
        <svg fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24"
          class="h-6 w-6 stroke-slate-700">
          <path id="burger-icon" d="m15 16-3 3-3-3M15 8l-3-3-3 3"></path>
        </svg>
      </button>
    </div>

    <div id="burger-open-panel" class="absolute inset-x-0 top-0  hidden">

      {% for link in data.navigation %}
      <a class="flex items-center px-4 py-4" href="{{link.href}}">
        <span aria-hidden="true" class="font-mono text-sm text-rose-700">{{ link.ref }}</span>
        <span class="ml-4 text-base font-medium text-slate-900">
          <span class="lg:hidden">{{ link.text }}</span>
        </span>
      </a>
      {% endfor %}
    </div>



    <div class="absolute inset-x-0 bottom-full z-10 h-4 bg-white"></div>
  </div>



  <div
    class="hidden sm:flex sm:h-32 sm:justify-center  sm:border-b-2 sm:border-[#e5e7eb] sm:bg-white/95 sm:[@supports(backdrop-filter:blur(0))]:bg-white/80 sm:[@supports(backdrop-filter:blur(0))]:backdrop-blur">
    <ol role="list"
      class="mb-[-2px] grid auto-cols-[minmax(0,15rem)] grid-flow-col text-base font-medium text-slate-900 [counter-reset:section]">

      {% for link in data.navigation %}

      <li data-selected="{% if link.selected == " true" %}selected{% endif %}" data-href="{{link.href}}"
        data-id="{{ link.id }}" data-ref="{{ link.ref}}" data-text="{{ link.text}}" class="flex navigation-link">
        <a class="navigation-a flex w-full flex-col items-center justify-center border-b-2 hover:bg-rose-700/20 hover:before:text-rose-700"
          href="{{link.href}}">
          <div class="navigation-div before mb-2 font-mono text-sm text-rose-700">{{ link.ref }}</div>
          {{ link.text }}
        </a>
      </li>

      {% endfor %}
    </ol>
  </div>
</div>

{% endblock %}